body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 50px;
    margin: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.viewData h1 {
    text-align: center;
    background-color: #333;
    color: white;
}

.viewData table {
    width: 100%;
    border-collapse: collapse;
}

.viewData table, th, td {
    border: 1px solid #666;
    padding: 10px;
    text-align: left;
}

.viewData thead {
    background-color: #333;
    color: white;
}

.viewData tr:nth-child(even) {
    background-color: #f2f2f2;
}

.viewData image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.highlighted {
    background-color: yellow;
}

.sales-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #495057;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #4caf50;
}

.form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #45a049;
}
/* Add your CSS styles for the movie card here */
.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(33.3333% - 20px);
}

.movie-poster {
    width: 150px;
    height: 225px;
    object-fit: cover;
    margin-right: 20px;
}

.movie-details {
    flex: 1;
}

.card {
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-details {
    margin-bottom: 16px;
}

.card-details p {
    margin: 8px 0;
}

.card-details strong {
    font-weight: bold;
}
